<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
				<rule name="Force index" stopProcessing="true">
					<conditions>
						<add input="{REQUEST_URI}" matchType="Pattern" pattern="(\.css$|\.js$|\.map$|\.jpg$|\.ttf|\.woff)" negate="true"/>
					</conditions>
					<match url="(.{1,})"/>
					<action type="Rewrite" url="index.php"/>
				</rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>