<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="R1" stopProcessing="true">
					<conditions>
						<add input="{REQUEST_URI}" matchType="Pattern" pattern="(\.)" negate="true"/>
						<add input="{REQUEST_URI}" matchType="Pattern" pattern="(.php)" negate="true"/>
						<add input="{REQUEST_URI}" matchType="Pattern" pattern="(\/$)"/>
					</conditions>
					<match url="(.{1,})/"/>
					<action type="Rewrite" url="/{R:1}.php"/>
				</rule>
				<rule name="R2" stopProcessing="true">
					<conditions>
						<add input="{REQUEST_URI}" matchType="Pattern" pattern="(\.)"/>
					</conditions>
					<match url="(.{1,})"/>
					<action type="Rewrite" url="/{R:1}"/>
				</rule>
				<rule name="R3" stopProcessing="true">
					<conditions>
						<add input="{REQUEST_URI}" matchType="Pattern" pattern="(\.)" negate="true"/>
						<add input="{REQUEST_URI}" matchType="Pattern" pattern="(.php)" negate="true"/>
					</conditions>
					<match url="(.{1,})"/>
					<action type="Rewrite" url="/{R:1}.php"/>
				</rule>
				<rule name="R4" stopProcessing="true">
					<conditions>
						<add input="{REQUEST_URI}" matchType="Pattern" pattern="/home"/>
					</conditions>
					<match url="(.{1,})"/>
					<action type="Rewrite" url="/index.php"/>
				</rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>