<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.WebServer>
        <rewrite>
            <rules>
                <rule name="Requests without .php extension and with trailing slash" stopProcessing="true">
					<conditions>
						<add input="{REQUEST_URI}" matchType="Pattern" pattern="(\.)" negate="true"/>
						<add input="{REQUEST_URI}" matchType="Pattern" pattern="(.php)" negate="true"/>
						<add input="{REQUEST_URI}" matchType="Pattern" pattern="(\/$)"/>
					</conditions>
					<match url="(.{1,})/"/>
					<action type="Rewrite" url="/{R:1}.php"/>
				</rule>
				<rule name="Requests for resource other than php files (css, js, etc)" stopProcessing="true">
					<conditions>
						<add input="{REQUEST_URI}" matchType="Pattern" pattern="(\.)"/>
					</conditions>
					<match url="(.{1,})"/>
					<action type="Rewrite" url="/{R:1}"/>
				</rule>
				<rule name="Requests without .php extension and without trailing slash" stopProcessing="true">
					<conditions>
						<add input="{REQUEST_URI}" matchType="Pattern" pattern="(\.)" negate="true"/>
						<add input="{REQUEST_URI}" matchType="Pattern" pattern="(.php)" negate="true"/>
					</conditions>
					<match url="(.{1,})"/>
					<action type="Rewrite" url="/{R:1}.php"/>
				</rule>
				<rule name="Override default home page" stopProcessing="true">
					<conditions>
						<add input="{REQUEST_URI}" matchType="Pattern" pattern="ukraine-air/home"/>
					</conditions>
					<match url="(.{1,})"/>
					<action type="Rewrite" url="/index.php"/>
				</rule>
            </rules>
        </rewrite>
    </system.WebServer>
</configuration>